<div id="app-homepage-container">
    <div id="app-homepage-header">
        <!-- <img class="app-homepage-image__blur" id="app-homepage-header-image" src="../../../assets/toronto-header.jpg"> -->
        <div class="app-homepage-header-child">
            <div id="navigation-child-1">
                <button mat-raised-button>Hello World</button>
                <button mat-raised-button>Hello World</button>
            </div>
        </div>
        <div class="app-homepage-header-child">
            <div id="profile-container">
                <div id="profile-image-container"><img id="profile-image" src="../../../assets/1685619657657.jpeg"></div>
                <h1 id="profile-name">Vladimir Caterov</h1>
            </div>
        </div>
        <div class="app-homepage-header-child">
            <div  id="navigation-child-2">
                <button mat-raised-button>Hello World</button>
                <button mat-raised-button>Hello World</button>
            </div>
        </div>

    </div>
    <!-- <div id="app-homepage-body">
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>

    </div> -->
</div>