<div id="app-homepage-container">
    <div id="app-homepage-header">
        <div id="app-homepage-header-socials" [@loadSocials]="true">
            <app-social-media-link [url]="linkedinIconUrl" [webAddress]="linkedinUrl" title="LinkedIn" aria-label="LinkedIn"></app-social-media-link>
            <app-social-media-link [url]="twitterIconUrl" [webAddress]="twitterUrl" title="Twitter" aria-label="Twitter"></app-social-media-link>
            <app-social-media-link [url]="githubIconUrl" [webAddress]="githubUrl" title="GitHub" aria-label="GitHub"></app-social-media-link>
        </div>
        <div id="app-homepage-header__backdrop-container">
            <div id="profile-container" class="app-homepage-header__backdrop-container-child">
                    <img id="profile-image" src="../../../assets/1685619657657.jpeg">
                    <h1 id="profile-name">Vladimir Caterov</h1>
            </div>     
        </div>
        <div id="tabular-container" class="app-homepage-header__backdrop-container-child" >
            <mat-tab-group  id="tabular-child" animationDuration="1000ms" mat-align-tabs="start">
                <mat-tab>
                    <ng-template mat-tab-label> Projects </ng-template>
                    <app-project-container></app-project-container>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label> Resume </ng-template>
                    <app-resume-container></app-resume-container>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label> About </ng-template>
                    <app-about-container></app-about-container>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label> Contact </ng-template>
                    <app-contact-container></app-contact-container>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>