<div id="app-homepage-container">
    <div id="app-homepage-header">
        <!-- <img class="app-homepage-image__blur" id="app-homepage-header-image" src="../../../assets/toronto-header.jpg"> -->
        <div id="app-homepage-header-socials">
            <app-social-media-link [url]="linkedinIconUrl" [webAddress]="linkedinUrl"></app-social-media-link>
            <app-social-media-link [url]="twitterIconUrl" [webAddress]="twitterUrl"></app-social-media-link>
            <app-social-media-link [url]="githubIconUrl" [webAddress]="githubUrl"></app-social-media-link>
        </div>
        <div id="app-homepage-header__backdrop-container">
            <div id="profile-container" class="app-homepage-header__backdrop-container-child">
                    <div id="profile-image-container"><img id="profile-image" src="../../../assets/1685619657657.jpeg"></div>
                    <h1 id="profile-name">Vladimir Caterov</h1>
                </div>     
            <div class="app-homepage-header__backdrop-container-child">
                <mat-tab-group   animationDuration="1000ms" class="tabular-child" dynamicHeight mat-align-tabs="start">
                    <mat-tab>
                        <ng-template mat-tab-label> Projects </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label> Resume </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label> About </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label> Contact </ng-template>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
    <!-- <div id="app-homepage-body">
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>
        <app-project-listing></app-project-listing>
    </div> -->
</div>