#app-homepage-container{
    width:100vw;
    height: 100vh;
    background-color: #172A3A;
}
#app-homepage-header{
    width: 100%;
    height: 400px;
    background-image: url("../../../assets/toronto-header.jpg");
    background-position: 0%;
    background-size:100%;
    background-repeat: no-repeat;
}
#app-homepage-header-socials{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 1;
}

#app-homepage-header__backdrop-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px) brightness(50%);
}

.app-homepage-header__backdrop-container-child{
    flex: 1;
    width: auto;
    height: auto;
   
}

.tabular-child{
    position: relative;
    top: calc(100% - 48px);
}

.mat-tab-label{
    background:aqua;
    color: blue;
    width: 60px;
    height: 50px;
    font-size: 20px;
  }
.mat-tab-group.mat-primary .mat-ink-bar{
background: brown;
height: 5px;
} 
#profile-container{
    height: fit-content;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
 
}
#profile-image-container{
    width: 200px;
    height: 200px;
}
#profile-image{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    border: 3px solid black;
}
#profile-name{
    width: 250px;
    height: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    color: wheat;
    margin: 25px;

}
