.project-listing-container{
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
}
.project-listing-header{
    height: max-content;
    background-color: #508991;
    width: 100%
}
.project-listing-body{
    background-color: #09BC8A;
    width: 100%
}