.landing-page-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.background-image {
  position: fixed;

  background-image: url("../images/photo-1637139496880-52af24614d79.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  /* Add the blur effect */
  filter: blur(8px) brightness(50%);
  transform: scale(1.2);
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
  -moz-animation: fadein 3s; /* Firefox */
  /* -webkit-animation: fadein 3s; */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.landing-page-header {
  position: absolute;
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: peachpuff;
}
.no-header-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.large-text-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: aqua; */
  width: 16ch;
  display: flex;
  flex-wrap: wrap;
  animation: typing 1s steps(16), blink 0.5s step-end infinite alternate;
  text-overflow: normal;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 100px;
  /* width: 23%; */
  font-family: "Consolas", "Liberation Mono", "Courier", "monospace";
  /* opacity: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
