<div id="project-container">
    <app-project-listing class="project-listing-showcase" [projectTitle]="projectTitle1"></app-project-listing>
    <app-project-listing class="project-listing-showcase" [projectTitle]="projectTitle2"></app-project-listing>
    <app-project-listing class="project-listing-showcase" [projectTitle]="projectTitle3"></app-project-listing>
    <app-project-listing class="project-listing-showcase" [projectTitle]="projectTitle4"></app-project-listing>
    <app-project-listing class="project-listing-showcase" [projectTitle]="projectTitle5"></app-project-listing>
</div>
